/*post with sidebar*/
.sl-post{
	background-image: url(../img/bg-sl-post.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding: 70px 0;
	text-align: center;
}

.post__text--strong{
	padding: 60px 40px;
	border: 2px solid #b4b4b4;
	font-style: italic;
	font-weight: bold;
	font-family: $fmc;
}

.post-socbar{
	padding: 20px 0;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
	&--circle{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #b7b7b7;
		&:hover{
			background: linear-gradient(lime,yellow);
		}
	}
	&__link{
		font-size: $fs*3;
		text-decoration: none;
		color: #818181;
	}
}

.reply{
	text-align: right;
}

.comment--photo-circle{
	border-radius: 50%;
}